
<h2><span class="badge text-bg-secondary">Chapter {{chapter.chapterNumber}}:</span> {{chapter.chapterTitle}}</h2>

<br>

<app-tags-list [tagGroups]="chapter.chapterTagGroups"></app-tags-list>

<br>

<p>{{chapter.chapterText}}</p>

<br>

<form [formGroup]="chapterCommentForm">
  <label for="chapterComment" class="form-label">Leave a comment:</label>
  <textarea
    class="form-control"
    id="chapterComment"
    formControlName="chapterComment"></textarea>

  <div class="mt-2 d-md-flex">
    <button (click)="onSubmitChapterComment()"
            type="button"
            class="btn btn-primary btn-sm">
      Submit Comment
    </button>
  </div>
</form>

<br>

<app-comments-list [isChapter]="true"></app-comments-list>
