
<div class="accordion-header">
  <button (click)="onChapterOverviewOpenClose()"
          class="accordion-button"
          [ngClass]="isChapterOpen ? '' : 'collapsed'"
          type="button">
    <strong>{{chapterOverview.chapterTitle}}</strong>
  </button>
</div>

<div class="accordion-collapse collapse" [ngClass]="isChapterOpen ? 'show' : ''">
  <div class="container-md">
    <div class="accordion-body">
      <p><strong>Chapter Description:</strong> {{chapterOverview.chapterDescription}}</p>
      <p><strong>Chapter Quote:</strong> {{chapterOverview.chapterQuote}}</p>
      <div [hidden]='isTagsBlockHidden()'>
        <app-tags-list [tagGroups]="chapterOverview.chapterTagGroups"></app-tags-list>
      </div>
      <button (click)="onChapterRead()" class="btn btn-primary">Read</button>
    </div>
  </div>
</div>

